In [67]:
import numpy as np
import pandas as pd
import csv
import re

In [46]:
appointments_df = pd.read_csv('appointments.csv')

In [47]:
doctors_df = pd.read_csv('doctors.csv')

In [48]:
patients_df = pd.read_csv('px.csv')

In [49]:
clinics_df = pd.read_csv('clinics.csv')

In [16]:
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

In [15]:
appointments_df['pxid'].value_counts().sort_values()

pxid
CC2DBFB39E3A051034F5E8AE33037732       1
E4A2A965179827025C727A03F9124285       1
ACB9D6096FB3E1719F19C04EBFFE1294       1
5D0C7C045145A309A36161AB6353D93C       1
B92174E69FFA1A7978378FD3BBEF3164       1
                                    ...
A2536B80CAD05E14355410332513D550     374
B2B657D3C301FFCBFDA0B2ED17E7A5EB     516
B4A945E181DE1FFB82D1D18CA9A51687     583
0761C17912CDEF7AEF25D118E1936D9A     590
7CB50A8783C05F2788D7AE1EE79A4CF7    1249
Name: count, Length: 3946064, dtype: int64

In [17]:
appointments_df['status'].value_counts(dropna=False)

status
Complete     6473675
Queued       2523855
Serving       284774
NoShow        230048
Cancel        213270
Skip           27298
Completed         10
Admitted           2
Name: count, dtype: int64

In [17]:
appointments_df['Virtual'].value_counts(dropna=False)

Virtual
False    6276648
NaN      1952593
True     1523691
Name: count, dtype: int64

In [7]:
appointments_df['TimeQueued'].value_counts().sort_values()

TimeQueued
2019-11-14 07:34:00.220000000      1
2023-02-03 06:35:13.233000000      1
2023-02-03 06:24:31.907000000      1
2023-01-28 04:14:56.877000000      1
2023-01-24 02:38:23.727000000      1
                                ...
2017-06-30 16:00:00              256
2016-11-25 16:00:00              281
2017-12-03 16:00:00              300
2016-12-16 16:00:00              362
2005-05-23 16:00:00              917
Name: count, Length: 9415233, dtype: int64

In [18]:
appointments_df['StartTime'] = appointments_df['StartTime'].fillna("NULL")

In [19]:
appointments_df['StartTime'].value_counts()

StartTime
NULL                   5879400
2005-05-23 16:00:00        917
2023-03-03 02:00:00        359
2023-08-12 02:00:00        331
2023-11-11 02:00:00        319
                        ...
2022-03-07 04:38:13          1
2022-03-09 05:29:30          1
2022-03-09 21:24:09          1
2022-03-11 04:12:25          1
2023-11-03 19:30:00          1
Name: count, Length: 1058280, dtype: int64

In [20]:
appointments_df['QueueDate'] = appointments_df['QueueDate'].fillna("NULL")

In [21]:
appointments_df['EndTime'] = appointments_df['EndTime'].fillna("NULL")

In [31]:
appointments_df['type'].value_counts(dropna=False).sort_values()

type
Inpatient        112751
Consultation    9640181
Name: count, dtype: int64

In [23]:
appointments_df.isnull().any()

pxid          False
clinicid      False
doctorid      False
apptid        False
status        False
TimeQueued    False
QueueDate     False
StartTime     False
EndTime       False
type          False
Virtual        True
dtype: bool

In [59]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507812 entries, 0 to 6507811
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    object
 1   age     float64
 2   gender  object
dtypes: float64(1), object(2)
memory usage: 149.0+ MB

In [58]:
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

In [50]:
# appointments_df['pxid'] = appointments_df['pxid'].astype(str)
# patients_df['pxid'] = appointments_df['pxid'].astype(str)
main_df = pd.merge(appointments_df, patients_df['pxid'], on='pxid', how='inner')
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522346 entries, 0 to 522345
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        522346 non-null  object
 1   clinicid    522346 non-null  object
 2   doctorid    522346 non-null  object
 3   apptid      522346 non-null  object
 4   status      522346 non-null  object
 5   TimeQueued  522346 non-null  object
 6   QueueDate   522346 non-null  object
 7   StartTime   352714 non-null  object
 8   EndTime     90502 non-null   object
 9   type        522346 non-null  object
 10  Virtual     205399 non-null  object
dtypes: object(11)
memory usage: 43.8+ MB

In [51]:
main_df = pd.merge(main_df, doctors_df['doctorid'], on='doctorid', how='inner')
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522346 entries, 0 to 522345
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        522346 non-null  object
 1   clinicid    522346 non-null  object
 2   doctorid    522346 non-null  object
 3   apptid      522346 non-null  object
 4   status      522346 non-null  object
 5   TimeQueued  522346 non-null  object
 6   QueueDate   522346 non-null  object
 7   StartTime   352714 non-null  object
 8   EndTime     90502 non-null   object
 9   type        522346 non-null  object
 10  Virtual     205399 non-null  object
dtypes: object(11)
memory usage: 43.8+ MB

In [52]:
main_df = pd.merge(main_df, clinics_df['clinicid'], on='clinicid', how='inner')
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522346 entries, 0 to 522345
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        522346 non-null  object
 1   clinicid    522346 non-null  object
 2   doctorid    522346 non-null  object
 3   apptid      522346 non-null  object
 4   status      522346 non-null  object
 5   TimeQueued  522346 non-null  object
 6   QueueDate   522346 non-null  object
 7   StartTime   352714 non-null  object
 8   EndTime     90502 non-null   object
 9   type        522346 non-null  object
 10  Virtual     205399 non-null  object
dtypes: object(11)
memory usage: 43.8+ MB

In [110]:
invalid_df = main_df['EndTime'].str.findall(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.?\d*')
invalid_df

EndTime
[2022-02-13 01:01:00]              20
[2021-10-18 01:01:00]              20
[2021-10-23 01:01:00]              20
[2021-12-26 01:01:00]              20
[2021-09-24 01:01:00]              18
                                   ..
[2020-09-01 07:15:43.017000000]     1
[2020-09-02 06:45:55.957000000]     1
[2020-09-02 06:15:40.583000000]     1
[2020-09-03 07:15:21.513000000]     1
[2022-01-23 07:07:00]               1
Name: count, Length: 44537, dtype: int64

In [114]:
invalid_df

0         [2020-07-02 17:15:38.073000000]
1         [2020-07-02 17:15:38.073000000]
2         [2020-07-12 17:15:15.833000000]
3         [2020-07-12 17:15:15.833000000]
4         [2020-07-20 05:15:49.687000000]
                       ...
522341              [2021-03-19 06:25:00]
522342              [2021-03-31 21:33:00]
522343              [2021-05-19 05:04:00]
522344              [2021-09-24 06:29:00]
522345              [2022-01-23 07:07:00]
Name: EndTime, Length: 522346, dtype: object

In [115]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522346 entries, 0 to 522345
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        522346 non-null  object
 1   clinicid    522346 non-null  object
 2   doctorid    522346 non-null  object
 3   apptid      522346 non-null  object
 4   status      522346 non-null  object
 5   TimeQueued  522346 non-null  object
 6   QueueDate   522346 non-null  object
 7   StartTime   352714 non-null  object
 8   EndTime     90502 non-null   object
 9   type        522346 non-null  object
 10  Virtual     205399 non-null  object
dtypes: object(11)
memory usage: 43.8+ MB

In [117]:
main_df['EndTime'] = main_df['EndTime'].fillna('NULL')
main_df['StartTime'] = main_df['StartTime'].fillna('NULL')
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522346 entries, 0 to 522345
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pxid        522346 non-null  object
 1   clinicid    522346 non-null  object
 2   doctorid    522346 non-null  object
 3   apptid      522346 non-null  object
 4   status      522346 non-null  object
 5   TimeQueued  522346 non-null  object
 6   QueueDate   522346 non-null  object
 7   StartTime   522346 non-null  object
 8   EndTime     522346 non-null  object
 9   type        522346 non-null  object
 10  Virtual     205399 non-null  object
dtypes: object(11)
memory usage: 43.8+ MB

In [119]:
main_df['type'].unique()

array(['Consultation', 'Inpatient'], dtype=object)

In [120]:
main_df[main_df['EndTime'] == 'NULL']

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
1204,A4B7F2DEFAB485D3E823EC2E2887CE8B,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,99D860AB38428CB8A5D288083E360FE1,Complete,2023-10-24 02:10:09.463000000,2023-10-23 16:00:00,NULL,NULL,Consultation,True
1205,A4B7F2DEFAB485D3E823EC2E2887CE8B,287ABB19DA8AADBD118443E92685853E,ACB3A881C7CE9ABCAE0CE8C99C86A906,99D860AB38428CB8A5D288083E360FE1,Complete,2023-10-24 02:10:09.463000000,2023-10-23 16:00:00,NULL,NULL,Consultation,True
3326,B61BB5CAA06916F0E7F095678F1160D1,BAE3529F0210CC5A603AC708BB5E7797,ACB3A881C7CE9ABCAE0CE8C99C86A906,C088134FD423E91DDD05F6F07D0F9AA1,Cancel,2022-08-18 05:49:28.943000000,2022-08-17 16:00:00,NULL,NULL,Consultation,False
3327,B61BB5CAA06916F0E7F095678F1160D1,BAE3529F0210CC5A603AC708BB5E7797,ACB3A881C7CE9ABCAE0CE8C99C86A906,C088134FD423E91DDD05F6F07D0F9AA1,Cancel,2022-08-18 05:49:28.943000000,2022-08-17 16:00:00,NULL,NULL,Consultation,False
3458,CEC712367A9D73263198E89D2740D665,40ACE1BABB133E1EA17F09932DD2E508,30A250583BC20CF070AB6C9189508FCC,B040FF3DF6C113BA3CCB67CAECD231A3,Complete,2021-09-03 06:09:09.413000000,2021-09-02 16:00:00,NULL,NULL,Consultation,NaN
...,...,...,...,...,...,...,...,...,...,...,...
521929,180728A1AB4FA0B7E04FD98330D7E176,B5F73D2F8C5E4AA26041EFFE5FBDF930,40F4DA34BBE180214C23B9E55DA4F772,FE98FA7C8F8E514915B48FD50B61FDF3,Complete,2022-05-16 09:32:23.633000000,2022-05-15 16:00:00,NULL,NULL,Consultation,True
521936,9D895E7EE02B955F12031933D3919F39,B5F73D2F8C5E4AA26041EFFE5FBDF930,40F4DA34BBE180214C23B9E55DA4F772,D6273DDDE4C6B001F69378567C414254,Queued,2024-01-13 02:35:33.900000000,2024-03-07 16:00:00,NULL,NULL,Consultation,True
521937,DA6746BB79186CDBA25FB834A37E2CCF,4776DA547036453F71AB92AAD7C727BD,F7F07E7DAB09533BC71247A5B29A7373,7125DEE97DCE77AAE68AED4C6C36B8A2,Queued,2020-05-22 03:58:06.217000000,2020-05-21 16:00:00,2020-05-22 03:57:04.513000000,NULL,Inpatient,NaN
522256,737E1BEBACD52D564B5E091B18FD4F77,4776DA547036453F71AB92AAD7C727BD,F7F07E7DAB09533BC71247A5B29A7373,99FED9BA404058DEA8180CE7F0D8E63A,NoShow,2022-07-16 01:54:00.477000000,2022-07-22 16:00:00,NULL,NULL,Consultation,False
522299,C565D94FB9DE87B8CC67C6B0BE3AB04F,D05AEBFECC37280437B02591573D6E03,F7F07E7DAB09533BC71247A5B29A7373,3B786779488E0E6E0FF1C5E478E34C92,Serving,2020-11-20 02:48:40.323000000,2020-11-20 16:00:00,2020-11-21 02:00:00,NULL,Consultation,False

In [118]:
main_df.to_csv('apptRDX.csv', quoting=csv.QUOTE_ALL, index=False)